ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.header {
	position: absolute;
	top: 0;
	width: 100%;		
}
.header-conteiner {	
	max-width: 100%;	
	margin-left: auto;
	margin-right: auto;
	background-color: aqua;
}
@media screen and (min-width:1200px) {
	.header-conteiner {
		max-width: 1200px;
	}	
}

.header-list {	
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 40px;
}
.hero {
	max-width: 100%;
	background-color: brown;
}
.hero-container {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;		
}
@media screen and (min-width:1200px) {
	.hero-container {
		max-width: 1200px;
	}
}
.hero-content {
	display: flex;
	flex-direction: row;
	padding-top: 40px;
}




